# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./QR-Gen-Scan/node_modules
./QR-Gen-Scan/*.pnp
./QR-Gen-Scan/*.pnp.js

# testing
./QR-Gen-Scan/coverage

# production
./QR-Gen-Scan/build

# misc
./QR-Gen-Scan/*.DS_Store
./QR-Gen-Scan/*.env.local
./QR-Gen-Scan/*.env.development.local
./QR-Gen-Scan/*.env.test.local
./QR-Gen-Scan/*.env.production.local
./QR-Gen-Scan/*.vscode

./QR-Gen-Scan/npm-debug.log*
./QR-Gen-Scan/yarn-debug.log*
./QR-Gen-Scan/yarn-error.log*


